doctype 5
html
    head
        meta(charset="utf-8")
        title Clog
        script(type="text/javascript" src="js/global.js")
        script(type="text/javascript" src="js/events.js")
        script(type="text/javascript" src="js/control.js")
        script(type="text/javascript" src="js/data.js")
        script(type="text/javascript" src="js/router.js")
        script(type="text/javascript" src="js/animate.js")
        script(type="text/javascript" src="js/view.js")
        link(rel="stylesheet" href="fonts.css")
        link(rel="stylesheet" href="style.css")
    body
        canvas#bg <div id="bgimg"></div>
        #top
            #topcontent
        #content
            .contentcontenter#category
            .contentcontenter#articlebox
                #article
            .contentcontenter#commentbox
                h2 Comments
        #timeline
