@bgcolor : #225378;
@textcolor : #225378;
@highlightcolor : #eb7f00;
@cardcolor : #f3ffe2;
@headercolor : #1695a3;

@lightdelta: #111;

@blockpadding: 1em;

.transition(@item, @time){
    transition: @item @time;
    -webkit-transition: @item @time;
    -moz-transition: @item @time;
    -ms-transition: @item @time;
    -o-transition: @item @time;
}

* {
    padding : 0px;
    margin : 0px;
}

body {
    background-color: @bgcolor;
    color: @textcolor;
    font-size: 14px;
}

div {
    position: relative;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

canvas#bg {
    .bg
}

div#bgimg {
    .bg
}

div#header {
    height: 300px;
    width: 100%;
    background-color: @headercolor;
    div#headcontent {
        padding: 3em;
        h1 {
            color : @cardcolor;
            font-size : 5em;
       }
    }
}

.cardready {
    .transition(opacity, 0.3s);
    .transition(top, 1s);
}

.hide {
    display: none;
}

.card {
    background-color: @cardcolor;
    width: 100%;
    padding: @blockpadding 0;
    cursor: pointer;
    opacity: 0.9;
}

.card:hover {
    opacity: 1;
    background-color: @cardcolor + @lightdelta;
}

.cardcontent {
    margin: 0 @blockpadding;
}

.contentcontenter {
    display: none;
}

#content {
    width: 70%;
    margin: auto;
}

.column {
    top: 0px;
    float: left;
}

.column:first-child {
    position: relative;
}

a{
    color: @textcolor;
    text-decoration: none;
}

a:visited {
    .card {
        background-color: @cardcolor - @lightdelta;
    }
}
